.Hackathon_wrap {
    padding-left: 70px;
    padding-right: 70px;

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 30px;
            font-weight: 700;
            line-height: 150%;
            color: #ADB4E2;
            padding: 10px 0;
            border-bottom: 1px solid #ADB4E2;
            margin-bottom: 20px;
        }

        .tab_box {
            display: flex;
            justify-content: space-between;
            width: 593px;
            margin-bottom: 20px;

            button {
                width: 104px;
                height: 35px;
                border-radius: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--gray02);
                color: #666;
                font-size: 18px;
                line-height: 140%;
                font-weight: 700;
            }

            .click {
                background-color: var(--pur03);
                color: var(--white);
            }
        }

        .month {
            display: flex;
            width: 1327px;
            justify-content: space-between;
            margin-bottom: 80px;

            button {
                width: 94px;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                font-weight: 700;
                color: var(--white);
                line-height: 150%;
            }

            .click {
                border-bottom: 2px solid var(--pur03);
            }
        }

        .retros {
            justify-content: center;
        }
    }

    .main {
        .content_box {
            overflow-x: auto;
            width: 100%;
            margin-bottom: 88px;

            h2 {
                border-left: 2px solid #6B69B0;
                color: var(--white);
                font-size: 24px;
                font-weight: 700;
                padding-left: 20px;
                margin-bottom: 20px;
            }

            .content_list {
                display: flex;
                flex-wrap: nowrap;
                overflow-x: auto;
                gap: 20px;
                padding-bottom: 10px;

                .content {
                    flex: 0 0 auto;
                    width: 380px;
                    height: 248px;
                    border-radius: 12px;

                    div {
                        height: 58px;
                        width: 100%;
                        border-bottom-right-radius: 20px;
                        border-bottom-left-radius: 20px;
                        padding: 0 20px 0 30px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background: linear-gradient(90deg, #C6B3FF 0%, #473282 100%);

                        p {
                            font-size: 18px;
                            color: var(--white);
                            font-weight: 700;
                        }

                        button {
                            width: 24px;
                        }
                    }
                }
            }

        }
    }
}

@media (max-width:1000px) {
    .Hackathon_wrap {
        padding-top: 120px;
        padding-left: 25px;
        padding-right: 25px;
        background: linear-gradient(180deg, #020202 0%, #4E4D70 100%);

        .header {
            .tab_box {
                width: 331px;
                margin-bottom: 100px;

                button {
                    background-color: var(--none);
                    width: 60px;
                    height: 35px;
                    color: var(--white);
                    font-size: 16px;
                    border-radius: 0;
                }

                .click {
                    background-color: var(--none);
                    color: #ADB4E2;
                    border-bottom: 2px solid #ADB4E2;
                }
            }

            h1 {
                border: 0;
                border-top: 2px solid #ADB4E2;
                font-size: 18px;
                padding-top: 30px;
                margin-bottom: 120px;
            }

            .month {
                button {
                    font-size: 16px;
                }
            }

            .retros {
                width: 250px !important;
            }
        }

        .main {
            margin-bottom: 120px;

            .content_box {
                h2 {
                    border-left: 2px solid #6B69B0;
                    font-size: 16px;
                    margin-bottom: 40px;
                }

                .content_list {
                    .content {
                        flex: 0 0 auto;
                        width: 240px;

                        >img {
                            height: 135px;
                            border-radius: 20px;
                            margin-bottom: 11px;
                        }

                        div {
                            width: 100%;
                            padding: 0 10px;
                            background: none;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;

                            .title {
                                font-size: 16px;
                            }

                            p {
                                font-size: 10px;
                                margin-bottom: 5px;
                            }

                            button {
                                width: 24px;
                            }
                        }
                    }
                }

            }
        }
    }

}

.Hac_Detail_wrap {
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 70em;
            margin-bottom: 30px;
        }

        .text_box {
            width: 70em;
            text-align: left;
            color: var(--white);
            font-weight: 700;

            h2 {
                border-left: 3px solid #6B69B0;
                font-size: 50px;
                padding-left: 20px;
                margin-bottom: 30px;
            }

            >p {
                margin-bottom: 20px;
            }

            p {
                font-size: 30px;
                margin-bottom: 20px;
            }
        }
    }

    .main_m {
        margin-bottom: 217px;

        h2 {
            color: #f2f2f2;
            border-left: 3px solid #ADB4E2;
            padding-left: 10px;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 40px;
        }

        >div {
            border: 2px solid #ADB4E2;
            border-radius: 30px;
            width: 340px;
            height: 530px;
            padding: 23px 18px;

            img {
                border-radius: 30px;
                margin-bottom: 40px;
            }

            .text_box {
                margin-bottom: 40px;

                .text {
                    display: flex;

                    p {
                        font-size: 14px;
                        color: var(--white);
                        margin-bottom: 10px;
                    }

                    .left {
                        color: #ADB4E2;
                        width: 64px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

.Active_wrap {
    .header {
        .tab_box {
            margin-bottom: 20px;
        }

        .month {
            width: 100%;
            display: flex;
            overflow-x: auto;
            gap: 40px;
            padding: 8px 0;
            scrollbar-width: none;
            -ms-overflow-style: none;

            .click {
                color: #ADB4E2;
                border-bottom: 2px solid #ADB4E2;
            }
        }
    }

    .main_m {
        >div {
            padding: 0;
            border: 0;

            >div {
                img {
                    box-shadow: 0px 0px 10px 0px #FFFFFFBF;

                }

                p {
                    font-size: 14px;
                    color: var(--white);
                    margin-bottom: 10px;
                }

            }
        }
    }
}

.Retorspection_wrap {
    .main_m {
        >div {
            height: 100%;

            padding: 23px 20px;
            border: 2px solid #ADB4E2;

            img {
                height: 195px;
            }

            >div {
                h2 {
                    font-size: 18px;
                    color: #ADB4E2;
                    margin-bottom: 10px;
                }

                p {
                    overflow-y: scroll;
                    width: 100%;
                    height: 150px;
                    border-radius: 15px;
                    background-color: var(--white);
                    color: var(--black);
                    padding: 15px;
                }
            }
        }
    }
}