.home_wrap {
    background-image: url(../../img/section/home/home_bg.svg);
    background-position: center top;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px #3A3A3A solid;

}

//top 부분 스타일

.home_top {
    display: flex;
    width: 1140px;
    justify-content: space-between;
    height: fit-content;
    margin-top: 160px;
    margin-bottom: 271px;

    .left {
        display: flex;
        flex-direction: column;
    }

    .star {
        width: 80px;
    }

    .title {
        font-size: 80px;
        font-weight: 700;
        background: var(--grad01);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
        line-height: 150%;
    }

    .logo img {
        animation: float 3s ease-in-out infinite;
    }


    .logo {
        margin-top: 40px;
        height: 428px;
    }

    .btn {
        width: 234px;
        height: 78px;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: 700;
        background: var(--grad05);
        color: var(--white);
        border: 1px solid var(--white);
        margin-top: 40px;
    }

    @keyframes float {
        0% {
            transform: translateY(15px);
        }

        50% {
            transform: translateY(-15px);
        }

        100% {
            transform: translateY(15px);
        }
    }

}

//middle 부분 스타일

.home_middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    margin-bottom: 83px;

    .middle_wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1300px;
        margin-top: 83px;

        .sc {
            color: var(--white);
            display: inline;
            align-items: center;
            flex-direction: column;
            font-size: 25px;
            font-weight: 700;
            line-height: 150%;
            text-align: center;

            .purple {
                color: var(--pur03);
                display: inline;
            }
        }
    }
}

//별똥별 스타일
.follow_line {
    display: flex;
    flex-direction: column;
    align-items: center;


    .line {
        width: 1px;
        background-image: linear-gradient(180deg, #FFFFFF, #5D5D5D4D);
    }

    .spakle {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        position: absolute;
        align-items: center;
        position: relative;
        background-color: #7385f7;
        filter: blur(3px);

        .circle {
            width: 28px;
            height: 28px;
            border-radius: 14px;
            background-color: #71769D;
            display: flex;
            justify-content: center;
            align-items: center;
           backdrop-filter: blur(2px);
        }

        .inner {
            width: 16px;
            height: 16px;
            border-radius: 8px;
            background-color: #FFFFFF;
            position: absolute;
            filter: blur(1px);
        }
    }

    .spakle::before {
        width: 60px;
        height: 60px;
        position: absolute;
        content: "";
        inset: 0;
        background-color: #7385f76f;
        filter: blur(20px);
        z-index: 0;
        border-radius: 50%;
        margin-left: -10px;
        margin-top: -10px;
    }
}

//bottom 부분 스타일

.home_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1100px;
    margin-bottom: 200px;


    .bottom_wrap {
        text-align: center;
        margin-top: 69px;

        .purple {
            color: var(--pur03);
            font-size: 50px;
            font-weight: 700;
        }

        p {
            color: var(--white);
            font-size: 30px;
            font-weight: 700;
            margin-top: 40px;
        }

        .grad {
            font-size: 50px;
            font-weight: 700;
            background: var(--grad03);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            -webkit-text-fill-color: transparent;
            line-height: 150%;
        }

    }

}